*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0;
  height: 100vh;
  background-color: #101629;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

h2 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}
.span-animation-border {
  position: relative;
  display: block;
  padding-bottom: 6px;
}

.span-animation-border::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #e2e2ee;
  transition: all .5s ease-out;
}


.main-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-item {
  flex: 0 1 50%;
  display: flex;
  overflow: hidden;
}






.main-item:hover .main-item__image {
  transform: scale(1.1);
}

.main-item:hover .span-animation-border::before {
  left: 0;
  width: 100%;
}
.main-item__link {
  position: relative;
  max-width: 100%;
  height: 100%;
}

.main-item__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.main-item__image {
  position: relative;
  transition: all .5s ease-in;
}

.main-item__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  line-height: 38px;
  color: #fff;
  z-index: 2;
} 

@media (max-width: 1000px) {
  .main-item {
    flex: 0 1 100%;
  }
  .main-item + .main-item {
    margin-top: 10px;
  }
  .main-item__title {
    font-size: 40px;
  }
}


